# MongoDB connection string (Mongoose)
MONGODB_URI="mongodb://ipk_admin:Ipk%4012345%21@ac-ugbjimi-shard-00-00.12wsuda.mongodb.net:27017,ac-ugbjimi-shard-00-01.12wsuda.mongodb.net:27017,ac-ugbjimi-shard-00-02.12wsuda.mongodb.net:27017/ipkwealth_crm_test?replicaSet=atlas-eztqd1-shard-0&ssl=true&authSource=admin&retryWrites=true&w=majority"

# Server
PORT=4000

# Frontend origin(s) allowed to call this API (comma separated for multiple)
FRONTEND_URL=https://feedback.ipkwealth.com

